body {
  margin: 0 auto;
}

div.admin {
  // border: 2px solid red;
<<<<<<< HEAD
  @include rect(100%, 600px);
=======
  @include rect(100%, 100vh);
>>>>>>> 5dced7cde66849ffa69fcc0f173d97ca96b0313a
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/admin/adminbk1.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
}

div.admin_logo_header {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.admin_logo_header img {
  // border: 2px solid blue;
  @include rect(122px, 145px);
  margin-top: 40px;
}

div.admin_AI {
  margin-top: 5px;
}

div.admin_AI p {
  // border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
}

form.admin_AI {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


div.admin_AI_account {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

div.admin_AI_password {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

div.admin_AI_login {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

div.admin_AI_forget {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

button.admin_btn_login {
  @include btn_module(150px, 5px, $btn_color_sub, $btn_color_sub_hover);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 0.05em;
}

button.admin_btn_login:hover {
  background-color: $btn_color_sub_hover;
}