.faq_banner {
  position: relative;
  padding: 40px 100px;
  width: 100%;
}

.faq_banner img {
  max-width: 100%;
}

.faq_banner p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  color: white;
}

@media screen and (max-width: 768px) {
  .faq_banner {
    padding: 16px;
  }
  .faq_banner p {
    font-size: 32px;
  }
}

//分類區

.faq_container {
  display: flex;
  margin: 60px 100px;
}

@media screen and (max-width: 996px) {
  .faq_container {
    display: block;
    margin: 20px 100px;
  }
}

@media screen and (max-width: 768px) {
  .faq_container {
    margin: 20px 16px;
  }
}


.left_container {
  text-align: center;
  min-width: 10%;
  margin: 25px 40px;
}

.left_container_rwd {
  display: none;
}

@media screen and (max-width: 996px) {
  .left_container {
    display: none;
  }

  .left_container_rwd {
    display: block;
  }
}

.left_container p {
  font-size: 24px;
  line-height: 2;
  color: $color_primary;
  border-bottom: 6px solid $color_primary;
}

.left_container ul li {
  font-size: 18px;
  line-height: 2.5;
  margin: 8px 0;
}

.left_container ul li:hover {
  background-color: $color_primary_sub;
  cursor: pointer;
}

.left_container ul li a {
  text-decoration: none;
  color: $font_color_content;
}

// 分類區RWD
.left_container_rwd ul {
  display: flex;
  justify-content: space-evenly;
}

.left_container_rwd ul li {
  font-size: 18px;
  margin-bottom: 8px;
  border: 1px solid $color_primary_sub;
  border-radius: 4px;
  padding: 8px 16px;
}

@media screen and (max-width: 576px) {
  .left_container_rwd ul li {
    font-size: 16px;
  }
}

.left_container_rwd ul li:hover {
  background-color: $color_primary_sub;
  cursor: pointer;
}

.left_container_rwd ul li a {
  text-decoration: none;
  color: $font_color_content;
}

// 問題區
.right_container {
  width: 100%;
}

.question_container_title {
  padding: 24px 24px;
  font-size: 18px;
  width: 100%;
  color: white;
  background-color: $color_primary;
}

.qa_title {
  padding: 30px 24px;
  font-size: 18px;
  width: 100%;
  color: $color_primary;
  position: relative;
  cursor: pointer;
  line-height: 1.8;
}

.open-close {
  position: absolute;
  right: 16px;
}

.qa_content {
  padding: 30px 24px;
  font-size: 18px;
  line-height: 1.8;
  width: 100%;
  color: $font_color_content;
  background-color: #f2f5f7;
  transition: 1s -0.3s linear;
}

//問題隱藏
.right_container div.tab {
  display: none;
}

.qa-on {
  display: block !important;
}

//faq CLICK保留樣式
.faq_container .left_container ul > li > a.qa-on {
  background-color: $color_primary_sub;
}
