  // 漢堡選單顯示目前頁面
  ul.menu a li#h_page_active7{
    color: $btn_color_primary;
}

.memberSignIn_container {
    @include flex-center;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../images/member/accountBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .memberSignIn_banner {
        background-color: rgba(255, 255, 255, .9);
        padding: 20px 50px 50px;
        margin: 30px 0;
        border-radius: 5px;
    }

    input {
        margin-bottom: 20px;
        padding: 5px 10px;
    }

    label {
        margin-bottom: 10px;
        font-family: $fontFamily_Ch;
        font-size: $fontSize;
        color: $font_color_content;
        letter-spacing: 1.5px;
    }

    @media (max-width:575.98px) {
        input {
            width: 100%;
        }
    }

    img.memberSignIn_logo {
        width: 120px;
        height: 145px;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    h1.memberSignIn_title {
        font-family: $fontFamily_Ch;
        font-size: $fontSize_Title;
        font-weight: bold;
        color: $font_color_content;
        margin-bottom: 20px
    }

    input.memberSignIn_confirm {
        margin-bottom: 20px;
        @include btn_module(400px, 5px, $btn_color_sub, $btn_color_sub_hover);
        border: none;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        letter-spacing: 0.05em;
        padding: 15px;
    }

    @media (max-width: 576.98px) {
        input.memberSignIn_confirm {
            @include btn_module(100%, 5px, $btn_color_sub, $btn_color_sub_hover);
            padding: 15px;
        }
    }
    input.memberSignIn_confirm:hover {
        background-color: $btn_color_sub_hover;
    }

    h4.memberSignIn_word {
        font-family: $fontFamily_Ch;
        font-size: $fontSize;
        color: $font_color_content;
        letter-spacing: 1.5px;

        a.memberSignIn_signInButton {
            text-decoration: none;
            color: $btn_color_sub;
            border-bottom: solid 1px $btn_color_sub;
            font-family: $fontFamily_Ch;
            font-size: $fontSize;
        }

        a.memberSignIn_signInButton:hover {
            color: $btn_color_sub_hover;
        }
    }
}

@media (max-width:575.98px) {
    .memberSignIn_banner {
        background-color: rgba(255, 255, 255, .9);
        padding: 20px 50px 50px;
        margin: 50px 0;
        border-radius: 5px;
        width: 100%;
    }

    #member_first ,#member_second, #member_third, #memberSignIn_Privacy {
        width: auto;
    }
}

input#ACCOUNT.valid{
  border:2px solid #02776F;
}
input#ACCOUNT.invalid{
  border:2px solid #FF7A00;
}

input#PASSWORD.valid{
  border:2px solid #02776F;
}
input#PASSWORD.invalid{
  border:2px solid #FF7A00;
}

input#PASSWORD2.valid{
  border:2px solid #02776F;
}
input#PASSWORD2.invalid{
  border:2px solid #FF7A00;
}

.memberSignIn_confirm{
  border-radius: 5px;
}
