.processNext_buyItem {
    padding-top: 50px;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../images/member/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .processNext_ballAll {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        

        .processNext_ballName {
            margin-right: 50px;
        
        @media (max-width: 776.98px) {
            margin-right: 20px;
        }

            .processNext_ball {
                border: solid 1px black;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 15px;
                background-color: #fff;
            }

            @media (max-width: 776.98px) {
                .processNext_ball {
                    width: 60px;
                    height: 60px;
                }
            }
            .ball {
                background: #E7C29E;
            }
        }
    }
}

.processNext_cardContent {
    margin-top: 30px;
    padding: 30px;
    background-color:#fff;
    border: solid 1px black;
    border-radius: 5px;
    font-family: $fontFamily_Ch;
    letter-spacing: 2px;
    margin-bottom: 20px;
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9));
    width: 80%;

    h1.processNext_cardContentTitle {
        font-size: $fontSize_CardTitle;
        margin-bottom: 20px;
        font-weight: bold;
    }
}

@media (max-width: 769.98px) {
    .processNext_cardContent {
        width: 100%;
    }
}

.processNext_cardInformationAll {
    border: solid 1px black;
    border-radius: 5px;
    background: #395762;
    width: 45%;
    font-family: $fontFamily_Ch;
    font-size: $fontSize_Nav;
    letter-spacing: 1.5px;
    position: relative;

    .processNext_image {
        margin-right: 10px;
        margin-top: 10px;
        img {
            width: 50px;
            height: 50px;
        }
    }

    .processNext_number {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
        p.processNext_numberAll {
            color: #fff;
        }
    }

    .processNext_cardName {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        padding-top: 50px;
        padding-left: 20px;

        h1.processNext_cardNameAll {
            color: #fff;
        }

        p {
            margin: 0 20px;
        }

        .processNext_cardDate {
            display: flex;
            align-items: flex-end;

            .processNext_cardNameTitleAll {
                color: #fff;
                font-size: $fontSize_footer;
            }

            .processNext_date {
                color: #fff;
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .processNext_cardInformationAll {
        width: 50%;
    }
}

@media (max-width: 769.98px) {
    .processNext_cardInformationAll  {
        display: none;
    }
}

.processNext_btnAll {
    margin-top: 30px;
    padding-bottom: 30px;
}

