* {
    box-sizing: border-box;
  }
  body{
    margin: 0px;
  }
  
  img{
    max-width: 100%;
  }

//   =========== banner ===========
.header{
    border: 1px solid red;
    max-width: 1400px;
    height: 100px;
    background-color: blue;
}

.bannerr-winter{
    // border: 1px solid red;
    background: url("../images/summer_camp/Rectangle 119 .jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    margin: 0 auto;
    @include flex-center;
    height: 500px;
}

.scope{
    // border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.wintercamp{
    // border: 1px solid red; 
    display: inline-block;
    position: absolute;
    left: -50px;
    top: -20px;
}
@media screen and (max-width: 1200px){
    .wintercamp{
        position: static;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .wintercamp br{
        display: none;
    }
}
@media screen and (max-width: 576px){
    .wintercamp{
        text-align: center;
    }
    .wintercamp br{
        display: block;
    }
}


.wintercamp-winter{
    font-size: $fontSize_Banner;
    color: white;
}

.wintercamp-camp{
    font-size: $fontSize_BigTitle;
    color: white;
}

.bg-gray{
    // border: 1px solid black;
    width: 90%;
    background: #82828280;
    margin: 0 auto;
    // text-align: center;
    @include flex-center;
}

.bg-text{
    font-size: $fontSize_Sub; 
    color: white;
    line-height: 30px; 
    letter-spacing: 2px;
    padding: 35px 60px;
}

@media screen and (max-width: 576px){
    .bg-text{
        line-height: 25px; 
        padding: 20px 40px; 
    }
}



//   =========== 內容 ===========

// ====== aside ======
.col3-aside{
    background-color: #f2f2f2;
}

.accordion-header .accordion-button, .accordion-item .accordion-collapse{
    background-color: #f2f2f2; 
}

.accordion-header .accordion-button{
    font-size: $fontSize_Nav;
}

.accordion-body .form-check{
    margin: 20px 0;
}


// .arr_icon{
//     position: absolute;
//     right: 20px;
//     top: 16px;
// }

.camp_two{
    margin: 0 auto;
    // border: 1px solid blue;
    width: 80%;
}
.ssum{
    background-color: white;
    margin: 80px 0 0 0;
    border: 2px solid #666666;
}

.wwin{
    background-color: white;
    margin: 30px 0 60px 0;
    color: $font_color_content;

}

.camp-sw-now{
    background-color: $color_primary;
    color: white;

}

.find-trip{
    font-size: $fontSize_Title;
    text-align: center;
    margin: 0 0 60px 0;
}




// ====== main ======
// .container, .row, .col-3, .col-9{
// //  border: 1px solid red;
// }

.change-page {
    display: block;
}
#app-winter{
    height: 1750px;
    overflow: hidden;
    position: relative;
    transition: 1s ease;
    padding-bottom: 30px;
}
#app-winter.-open{
    height: auto;
    position: relative;
    margin-bottom: 30px !important;

}
.sw-row{
    margin-bottom: 30px !important;
}
.row .card{
    padding: 0;
    margin: 50px 10px 5px 10px;
    border-radius: 20px 20px 20px 20px;
    border: 0.5px solid #66666633;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.card-body .card-title{
    font-size: $fontSize_CardTitle;
    text-align: center;
    line-height: 35px;
    font-weight: 600; 
}

.card-body .card-text{
    font-size: $fontSize;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.card-body .a{
    // border: 1px solid red;
    color: $font_color_content;
    display: inline-block;
    // margin-left: 70px;
    position: absolute;
    bottom: 30px;
}

.card-body .a img{
    transform: translateY(25%);
}

.row .button{
    margin: 70px auto;
    background-color: $btn_color_primary;
    color: white;
    width: 250px;
    height: 50px;
    border: 0;
    cursor: pointer;
    font-weight: 600;
}

.row .button:hover{
    background-color: #ffaa00;
}


// =======
// 桌機板顯示目前頁面
.tab_container li a#page_active2::before {
    content: "";
    background-color: $btn_color_primary;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    top: 26px;
    display: block;
    transform: scaleX(1);
  }

  // 漢堡選單顯示目前頁面
  ul.menu a li#h_page_active2{
      color: $btn_color_primary;
  }

