// 桌機板顯示目前頁面
.tab_container li a#page_active2::before {
    content: "";
    background-color: $btn_color_primary;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    top: 26px;
    display: block;
    transform: scaleX(1);
  }

  // 漢堡選單顯示目前頁面
  ul.menu a li#h_page_active2{
      color: $btn_color_primary;
  }
