// 使用套件
@import "../../node_modules/bootstrap/scss/bootstrap";

// 共用自訂元件
@import 'base/var';
@import 'base/reset';
@import 'mixin/mixin';
@import 'module/el';


// 整合頁面scss
@import 'layout/landing_page';
@import 'layout/burgermenu';
@import 'layout/header';
@import 'layout/footer';


// 主頁面scss
@import 'page/landing_page';
@import 'page/index';
@import 'page/new';
@import 'page/summer_camp';
@import 'page/winter_camp';
@import 'page/local_theme';
@import 'page/schedule';
@import 'page/ideas';
@import 'page/aboutus';
@import 'page/faq';

@import 'page/member';
@import 'page/admin';
@import 'page/admin_system';
@import 'page/admin_order';
@import 'page/admin_commodity';
@import 'page/admin_review';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap');