<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    @@include('./layout/meta.html', { "title" : "商品管理" })
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>

    <script src="./js/bootstrap.bundle.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/vue.js"></script>
  </head>
  <body>
    <div id="app-comm">
        <div style="height: auto">
            <div class="admin_member">
                <div class="admin_header">
                <div class="admin_header_logo">
                    <img src="images/admin/logo.png" alt="" />
                    <p>CAMPION後臺管理系統</p>
                </div>
                <div class="admin_header_btn">
                    <a href="admin.html">
                    <button class="admin_btn_signOut">登出</button>
                    </a>
                </div>
                </div>
    
                <div class="admin_main">
                <div class="admin_aside">
                    <a href="./admin_system.html">
                    <button class="admin_aside_btn">會員管理</button>
                    </a>
                    <a href="./admin_order.html">
                    <button class="admin_aside_btn">訂單管理</button>
                    </a>
                    <a href="./admin_commodity.html">
                    <button class="admin_aside_btn">商品管理</button>
                    </a>
                    <a href="./admin_review.html">
                    <button class="admin_aside_btn">評論管理</button>
                    </a>
                </div>
    
                <div class="admin_main_tltle">
                    <div class="admin_commodity">
                    <div class="admin_search">
                        <p>商品管理</p>
                        <div class="admin_commodity_add justify-content-start">
                        <!-- Button trigger modal -->
                        <button
                            type="button"
                            class="btn admin_commodity_btn"
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdropAdd"
                        >
                            <i class="fas fa-plus admin_search_icon">新增商品</i>
                        </button>
    
                        <!-- Modal 新增商品 -->
                        <!-- <div class="modal fade" id="staticBackdropAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header admin_commodity_header">
                                <h5 class="modal-title" id="staticBackdropLabel">
                                    編輯&nbsp;&frasl;&nbsp;查看
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                </button>
                                </div>
                                <div class="modal-body">
                                <div class="admin_order_edit">
                                    <div class="admin_edit_main">
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputGroupSelect01">行程名稱</label>
                                        <input type="text" class="form-control admin_commodity_focus" id="inputGroupSelect01" aria-label="Text input with segmented dropdown button"/>
                                    </div>
    
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputGroupSelect01">行程類別</label>
    
                                        <select class="form-select admin_commodity_focus" id="inputGroupSelect01">
                                        <option selected>選擇行程類別</option>
                                        <option value="1">冬令營</option>
                                        <option value="2">夏令營</option>
                                        <option value="3">當地主題</option>
                                        </select>
    
                                        <label class="input-group-text" for="inputGroupSelect01">行程主題</label>
    
                                        <select class="form-select admin_commodity_focus" id="inputGroupSelect01">
                                        <option selected>選擇行程主題</option>
                                        <option value="1">運動</option>
                                        <option value="2">電影</option>
                                        <option value="4">設計</option>
                                        <option value="5">科學</option>
                                        <option value="6">藝術</option>
                                        <option value="7">語言</option>
                                        <option value="8">程式</option>
                                        <option value="9">自然</option>
                                        <option value="10">音樂</option>
                                        </select>
                                    </div>
    
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputGroupSelect01">行程國家</label>
                                        <select class="form-select admin_commodity_focus" id="inputGroupSelect01">
                                        <option selected>選擇行程國家</option>
                                        <option value="1">美國</option>
                                        <option value="2">英國</option>
                                        <option value="3">加拿大</option>
                                        <option value="4">法國</option>
                                        <option value="5">德國</option>
                                        <option value="6">澳洲</option>
                                        <option value="7">紐西蘭</option>
                                        </select>
    
                                        <label class="input-group-text" for="inputGroupSelect01">行程地點</label>
                                        <select class="form-select admin_commodity_focus" id="inputGroupSelect01">
                                        <option selected>選擇行程地點</option>
                                        <option value="1">紐約</option>
                                        <option value="2">洛杉磯</option>
                                        <option value="3">舊金山</option>
                                        <option value="3">巴黎</option>
                                        <option value="3">倫敦</option>
                                        <option value="3">溫哥華</option>
                                        <option value="3">多倫多</option>
                                        <option value="3">柏林</option>
                                        </select>
                                    </div>
    
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputGroupSelect01">招生年齡</label>
                                        <select class="form-select admin_commodity_focus" id="inputGroupSelect01">
                                        <option selected>選擇招生年齡</option>
                                        <option value="1">10歲~12歲</option>
                                        <option value="2">13歲~15歲</option>
                                        <option value="2">16歲~18歲</option>
                                        </select>
                                    </div>
    
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputGroupSelect01">成團人數</label>
                                        <select class="form-select admin_commodity_focus" id="inputGroupSelect01">
                                        <option selected>選擇成團人數</option>
                                        <option value="1">10</option>
                                        <option value="2">15</option>
                                        <option value="2">20</option>
                                        </select>
                                    </div>
    
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputGroupSelect01">成團梯次</label>
                                        <select class="form-select admin_commodity_focus" id="inputGroupSelect01">
                                        <option selected>選擇梯次</option>
                                        <option value="1">梯次一</option>
                                        <option value="2">梯次二</option>
                                        <option value="2">梯次三</option>
                                        </select>
                                    </div>
    
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputGroupSelect01">成團日期</label>
                                        <input class="form-select datetime" type="text" name="dates"/>
                                    </div>
    
                                    <div class="mb-3" id="app">
                                        <div v-if="!image">
                                        <input class="form-control admin_commodity_focus" accept="image/*" id="formFile" type="file" @change="onFileChange"/>
                                        </div>
                                        <div v-else class="admin_newItem_img">
                                        <img :src="image" />
                                        <button class="admin_commodity_file" @click="removeImage">
                                            重新選擇
                                        </button>
                                        </div>
                                    </div>
    
                                    <div class="mb-3">
                                        <label class="input-group-text admin_commodity_text" for="inputGroupSelect01">文案內容</label>
                                        <textarea class="form-control admin_commodity_textarea" id="exampleFormControlTextarea1" rows="3"><textarea>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn admin_commodity_btn" data-bs-dismiss="modal">
                                    關閉
                                </button>
                                <button type="button" class="btn admin_commodity_btn">
                                    儲存
                                </button>
                                </div>
                            </div>
                            </div>
                        </div> -->
                        </div>
                    </div>
    
                        <!-- 右上方 search bar -->
                        <div class="admin_search_bar">
                        <input class="search-bar" type="text" name="search" id="search" placeholder="輸入名稱"/>
                        <button class="admin_search-btn">
                            <i class="fas fa-search admin_search_icon"></i>
                        </button>
                        </div>
                    </div>
    
                    <!-- 中間顯示資料明細 -->
                    <div class="admin_main_content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">行程編號</th>
                                    <th scope="col">行程名稱</th>
                                    <th scope="col">行程場次</th>
                                    <th scope="col">行程日期</th>
                                    <th scope="col">單價</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                        </table>
                      
                            <!-- 這裡要用 vue 組件寫 -->
                            <itinerary></itinerary>
                        
                    </div>
    
                    <!-- 分頁 -->
                    <div class="d-flex justify-content-end">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./js/js.js"></script>
    <script>
		Vue.component("itinerary", {
			data() {
				return {
					data: [],
					image: "",
					cate: [
						{ name: "夏令營" },
						{ name: "冬令營" },
						{ name: "當地主題" },
					],
					theme: [
						{ name: "運動" },
						{ name: "設計" },
						{ name: "科學" },
						{ name: "科技" },
						{ name: "藝術" },
						{ name: "語言" },
						{ name: "程式" },
						{ name: "自然" },
						{ name: "音樂" },
						{ name: "領導" },
						{ name: "商業" },
						{ name: "文化" },
						{ name: "節慶" },
					],
					country: [
						{ name: "美國" },
						{ name: "法國" },
						{ name: "英國" },
						{ name: "加拿大" },
						{ name: "德國" },
						{ name: "澳洲" },
						{ name: "紐西蘭" },
						{ name: "瑞士" },
						{ name: "義大利" },
						{ name: "西班牙" },
						{ name: "俄羅斯" },
						{ name: "巴西" },
					],
					city: [
						// 美國
						{ name: "紐約" },
						{ name: "洛杉磯" },
						{ name: "舊金山" },
						// 法國
						{ name: "巴黎" },
						{ name: "波爾多" },
						{ name: "史特拉斯堡" },
						{ name: "里昂" },
						// 英國
						{ name: "倫敦" },
						{ name: "牛津" },
						{ name: "愛丁堡" },
						{ name: "曼徹斯特" },
						{ name: "格拉斯頓伯里" },
						{ name: "勒維克" },
						// 加拿大
						{ name: "多倫多" },
						{ name: "基洛納" },
						{ name: "溫哥華" },
						// 德國
						{ name: "柏林" },
						{ name: "慕尼黑" },
						// 澳洲
						{ name: "布里斯本" },
						// 紐西蘭
						{ name: "奧克蘭" },
						// 瑞士
						{ name: "日內瓦" },
						// 義大利
						{ name: "威尼斯" },
						// 西班牙
						{ name: "巴塞隆納" },
						{ name: "潘普洛納" },
						{ name: "布尼奧爾" },
						// 俄羅斯
						{ name: "聖彼得堡" },
						// 巴西
						{ name: "里約" },
					],
					age: [
						{ range: "10歲~12歲" },
						{ range: "13歲~15歲" },
						{ range: "16歲~18歲" },
					],
					groupAmount: [{ num: 10 }, { num: 15 }, { num: 20 }],
					batch: [
						{ no: "梯次一" }, { no: "梯次二" }, { no: "梯次三" }
					],
				};
			},
			template: ` 
				<table class="table table-hover">
					<tbody>
						<tr v-for="(item, index) in data.slice(0, 30)">
							<th scope="row" id="item_ID">{{item.ID}}</th>
							<td>【{{item.COUNTRY}}-{{item.CITY}}】{{item.NAME}}</td>
							<td>{{item.BATCH}}</td>
							<td>{{item.START_DATE}}-{{item.END_DATE}}</td>
							<td>{{item.PRICE}}</td>
							<td>
								<!-- Button trigger modal -->
								<button type="button" class="btn admin_order_btn" data-bs-toggle="modal" :data-bs-target="'#item' + item.ID">
								編輯&nbsp;&frasl;&nbsp;查看
								</button>

								<!-- Modal -->
								<div class="modal fade" :id="'item' + item.ID" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header admin_commodity_header">
												<h5 class="modal-title" id="staticBackdropLabel">
												編輯&nbsp;&frasl;&nbsp;查看
												</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<div class="admin_order_edit">
													<div class="admin_edit_main">
														<div class="input-group mb-3">
															<label class="input-group-text" for="inputGroupSelect01">行程名稱</label>
															<input v-model="item.NAME" @input="inputName" type="text" class="form-control admin_commodity_focus item_name" id="inputGroupSelect01" aria-label="Text input with segmented dropdown button"/>
															<!--:value="item.NAME"-->
														</div>

														<div class="input-group mb-3">
															<label class="input-group-text" for="inputGroupSelect01">行程類別</label>
															<select v-model="item.CATEGORY" class="form-select admin_commodity_focus select1" id="inputGroupSelect01" @change="selectCategory">
																<option disabled>選擇行程類別</option>
																<option class="item_category" v-for="cat in cate" :selected="cat.name == item.CATEGORY">{{cat.name}}</option>
																<!--  :value="cat.name" -->
															</select>

															<label class="input-group-text" for="inputGroupSelect01">行程主題</label>
															<select v-model="item.THEME" class="form-select admin_commodity_focus" id="inputGroupSelect01">
																<option disabled>選擇行程主題</option>
																<option class="item_theme" v-for="topic in theme" :selected="topic.name == item.THEME">{{topic.name}}</option>
																<!--  :value="topic.name" -->
															</select>
														</div>

														<div class="input-group mb-3">
															<label class="input-group-text" for="inputGroupSelect01">行程國家</label>
															<select v-model="item.COUNTRY" class="form-select admin_commodity_focus" id="inputGroupSelect01">
																<option disabled>選擇行程國家</option>
																<option class="item_country" v-for="nat in country" :selected="nat.name == item.COUNTRY">{{nat.name}}</option>
																<!--  :value="nat.name" -->
															</select>

															<label class="input-group-text" for="inputGroupSelect01">行程地點</label>
															<select v-model="item.CITY" class="form-select admin_commodity_focus" id="inputGroupSelect01">
																<option disabled>選擇行程地點</option>
																<option class="item_city" v-for="ct in city" :selected="ct.name == item.CITY">{{ct.name}}</option>
																<!--  :value="ct.name" -->
															</select>
														</div>

														<div class="input-group mb-3">
															<label class="input-group-text" for="inputGroupSelect01">招生年齡</label>
															<select v-model="item.AGE" class="form-select admin_commodity_focus" id="inputGroupSelect01">
																<option disabled>選擇招生年齡</option>
																<option class="item_age" v-for="ag in age" :selected="ag.range == item.AGE">{{ag.range}}</option>
																<!--  :value="ag.range" -->
															</select>
														</div>

														<!--
														<div class="input-group mb-3">
															<label class="input-group-text" for="inputGroupSelect01">成團人數</label>
															<select class="form-select admin_commodity_focus" id="inputGroupSelect01">
																<option disabled>選擇成團人數</option>
																<option v-for="ga in groupAmount" :selected="ga.num == item.AGE">{{ga.num}}</option>
															</select>
														</div>
														-->

														<div class="input-group mb-3">
															<label class="input-group-text" for="inputGroupSelect01">成團梯次</label>
															<select v-model="item.BATCH" class="form-select admin_commodity_focus" id="inputGroupSelect01">
																<option disabled>選擇梯次</option>
																<option class="item_batch" v-for="ba in batch" :selected="ba.no == item.BATCH">{{ba.no}}</option>
																<!--  :value="ba.no" -->
															</select>
														</div>

														<div class="input-group mb-3">
															<label class="input-group-text" for="inputGroupSelect01">開始日期</label>
															<input v-model="item.START_DATE" type="text" class="form-control admin_commodity_focus item_start_date" id="inputGroupSelect01" aria-label="Text input with segmented dropdown button" placeholder="2022-07-01"/>
															<!--  :value="item.START_DATE" -->
														</div>

														<div class="input-group mb-3">
															<label class="input-group-text" for="inputGroupSelect01">結束日期</label>
															<input v-model="item.END_DATE" type="text" class="form-control admin_commodity_focus item_end_date" id="inputGroupSelect01" aria-label="Text input with segmented dropdown button" placeholder="2022-08-15"/>
															<!--  :value="item.END_DATE" -->
														</div>

														<div class="input-group mb-3">
															<label class="input-group-text" for="inputGroupSelect01">行程價格</label>
															<input v-model="item.PRICE" type="text" class="form-control admin_commodity_focus item_price" id="inputGroupSelect01" aria-label="Text input with segmented dropdown button"/>
															<!--  :value="item.PRICE" -->
														</div>

														<!-- 新增圖片 -->
														<div class="mb-3">
															<div v-if="!image" style="position: relative">
																<input class="form-control admin_commodity_focus item_img" accept="image/*" id="formFile" type="file" @change="onFileChange"/>
																
																<p class="item_showImg" v-if="item.IMG" style="position: absolute; top: 8px; left: 100px; width: 70%; text-align: left; background: #fff; padding: 3px; cursor: pointer">{{item.IMG}}</p>
																<div class="input-group mb-3">
																	<img :src="'./images/summer_camp/' + item.IMG" style="width: 100%">  
																</div>
															</div>
															<div v-else class="admin_newItem_img">
																<input class="form-control admin_commodity_focus" accept="image/*" id="formFile" type="file" @load="getImage" @change="onFileChange"/>
																<img :src="image" />
																<button class="admin_commodity_file" @click="removeImage">
																重新選擇
																</button>
															</div>
															<!--<img :src="item.IMG"/>-->
														</div>
													
														<div class="mb-3">
															<label class="input-group-text admin_commodity_text" for="inputGroupSelect01">文案內容</label>
															<textarea v-model="item.CONTEXT" class="form-control admin_commodity_textarea item_context" id="exampleFormControlTextarea1" rows="3" placeholder="請輸入不超過 300 字" maxlength="300"></textarea>
															<!-- {{item.CONTEXT}} -->
														</div>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn admin_commodity_btn" data-bs-dismiss="modal">
												關閉
												</button>
												<button type="button" class="btn admin_commodity_btn" @click="updateItem">
												儲存
												</button>
											</div>
										</div> 
									</div>	
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			`,
			computed: {
			
			},
			methods: {				
				// 上傳圖片預覽
				getImage() {
					file.name = item.IMG;
				},
				onFileChange(e) {
					let files = e.target.files || e.dataTransfer.files;
					console.log(files);
					if (!files.length) return;
					this.createImage(files[0]);
				},
				createImage(file) {
					let image = new Image();
					let reader = new FileReader();
					let vm = this;
					// return file.name;

					reader.onload = (e) => {
						vm.image = e.target.result;
						// console.log(this.image); //base64
					};
					reader.readAsDataURL(file);
				},
				removeImage: function (e) {
					this.image = "";
				},
				// 「編輯查看」儲存按鈕：更新行程資訊
				updateItem(e){
					console.log(e.target.parentNode.parentNode.previousSibling);
					// console.log(e.target.parentNode.item);

					// axios.post('./backend/admin-updateItem.php', {
					// 	action:'update',
					// 	firstName: application.first_name,
					// 	lastName: application.last_name,
					// 	hiddenId: application.hiddenId
					// })
					// .then(function(response){
					// 	application.myModel = false;
					// 	application.fetchAllData();
					// 	application.first_name = '';
					// 	application.last_name = '';
					// 	application.hiddenId = '';
					// 	alert(response.data.message);
					// });
					$.ajax({
						method: "POST",
						url: "./backend/admin-updateItem.php", // API 路徑
						data: {
							// item_ID: item.ID,
							name: inputName(), // input name // key 對應 php 中的 $_POST["Name"]
							// context: $('.item_context').val(),
							category: selectCategory(),
							// theme: $('.item_theme').val(),
							// country: $('.item_country').val(),
							// city: $('.item_city').val(),
							// age: $('.item_age').val(),
							// img: $('.item_img').val(),
							// price: $('.item_price').val(),
							// batch: $('.item_batch').val(),
							// start_date: $('.item_start_date').val(),
							// end_date: $('.item_end_date').val(),
						},
						dataType: "text", // 取決於 php 要回傳什麼樣的資料：Y/N
		
						// 設定 listener：
						success: function (response) { // 網路傳輸成功
							alert('新增成功');
						},
						error: function (exception) {
							alert("發生錯誤: " + exception.status);
						},
					});
				},
				// 「新增」儲存按鈕：新增行程資訊
				// newItem(){

				// }, 
				
				// 取得行程名稱
				inputName(e){
					console.log(e.target.value);
					return e.target.value;
				},
				// 取得行程類型的值
				selectCategory(e){
					console.log(e.target.value);
					return e.target.value;
				}
			},
			mounted() {
				// 先從資料庫抓全部的行程資料
				$.getJSON("./backend/admin-comm.php").then((res) => {
					// console.log(res);
					this.data = res;
				});
			},
		
		});

		// 宣告一個 Vue 實體
		let vm2 = new Vue({
			el: "#app-comm",
			data: {
				// new Vue 的 data 是物件
				// data: [],
			},
			computed: {},
			methods: {},
		});
    </script>
  </body>
</html>
