<footer>
  <div class="footer_container">
    <ul class="footer_list" >
      <li><a href="#">最新消息</a></li>
      <li><a href="#">冬夏令營</a></li>
      <li><a href="#">當地主題</a></li>
      <li><a href="#">獲得靈感</a></li>
      <li><a href="#">品牌故事</a></li>
      <li><a href="#">常見問題</a></li>
      <li><a href="#">會員專區</a></li>
    </ul>
    <ul class="footer_contact">
      <li>聯絡我們</li>
      <li>campion_service@gmail.com</li>
      <li>02 2712 0589</li>
      <li>104506台北市中山區南京東路三段219號5樓</li>
    </ul>
    <div class="footer_subscribe">
      <p>訂閱我們</p>
      <p>隨時取得冬夏令營資訊</p>
      <div class="footer_subscribe_mail">
        <input type="text" placeholder="Your email" style="padding:8px;"/>
        <div class="btn footer_btn">訂閱</div>
      </div>
    </div>
  </div>
  <hr class="hr-solid">
  <div class="footer_tibame">
    本網站為緯育TibaMe前端設計工程師班第72期第二組學員專題成果作品，本平台僅供學習、展示之用。參考資源：＿＿＿＿＿＿＿＿。
  </div>
</footer>
