<nav class="nav_container">
  <a href="#"><img src="./images/common/logo_svg.svg" class="nav_logo" /></a>
  <ul class="tab_container">
    <li><a href="#">最新消息</a></li>
    <li><a href="#">冬夏令營</a></li>
    <li><a href="#">當地主題</a></li>
    <li><a href="#">獲得靈感</a></li>
    <li><a href="#">品牌故事</a></li>
    <li><a href="#">常見問題</a></li>
  </ul>
  <div class="nav_search_container">
    <input type="text" class="nav_search_input"/>
    <a href="#"><i class="fas fa-search"></i></a>
    <a href="#"><i class="fas fa-user-circle"></i></a>
    <a href="#"><i class="fas fa-shopping-cart"></i></a>

    <!-- RWD漢堡 -->
    <div class="menuToggle">
      <input type="checkbox" />
  
      <span></span>
      <span></span>
      <span></span>
  
      <ul class="menu">    
        <a href="#"><li>NEWS</li></a>
        最新消息
        <a href="#"><li>WINTER/SUMMER CAMP</li></a>
        冬夏令營
        <a href="#"><li>FEATURE CAMP</li></a>
        當地主題
        <a href="#"><li>ABOUT US</li></a>
        品牌故事
        <a href="#"><li>BRILLIANT IDEA</li></a>
        獲得靈感
        <a href="#"><li>Q&A</li></a>
        常見問題
        <a href="#"><li>MEMBER</li></a>
        會員專區  
      </ul>
    </div>
  </div>
  
  
</nav>
