<nav class="nav_container">
  <a href="index.html"><img src="./images/common/logo_svg.svg" class="nav_logo" /></a>
  <ul class="tab_container">
    <li><a href="news.html">最新消息</a></li>
    <li><a href="summer_camp.html">冬夏令營</a></li>
    <li><a href="local_theme.html">當地主題</a></li>
    <li><a href="ideas.html">獲得靈感</a></li>
    <li><a href="aboutus.html">品牌故事</a></li>
    <li><a href="faq.html">常見問題</a></li>
  </ul>
  <div class="nav_search_container">
    <input type="text" class="nav_search_input"/>
    <a href="#"><i class="fas fa-search"></i></a>
    <a href="#"><i class="fas fa-user-circle"></i></a>
    <a href="#"></a><i class="fas fa-shopping-cart"></i></a>
  </div>
  <!-- RWD版 -->
  <div class="menuToggle">
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <!-- RWD漢堡 -->
    <div class="menuToggle">
      <input type="checkbox" />
  
      <span></span>
      <span></span>
      <span></span>
  
      <ul class="menu">    
        <a href="news.html"><li>NEWS</li></a>
        最新消息
        <a href="summer_camp.html"><li>WINTER/SUMMER CAMP</li></a>
        冬夏令營
        <a href="local_theme.html"><li>FEATURE CAMP</li></a>
        當地主題
        <a href="aboutus.html"><li>ABOUT US</li></a>
        品牌故事
        <a href="ideas.html"><li>BRILLIANT IDEA</li></a>
        獲得靈感
        <a href="faq.html"><li>Q&A</li></a>
        常見問題
        <a href="member.html"><li>MEMBER</li></a>
        會員專區  
      </ul>
    </div>
  </div>
  
  
</nav>
