<nav class="nav_container">
  <a href="index.html"
    ><img src="./images/common/logo_svg.svg" class="nav_logo"
  /></a>
  <ul class="tab_container">
    <li><a href="news.html" class="header_pg" id="page_active1">最新消息</a></li>
    <li><a href="summer_camp.html" class="header_pg" id="page_active2">冬夏令營</a></li>
    <li><a href="local_theme.html" class="header_pg" id="page_active3">當地主題</a></li>
    <li><a href="ideas.html" class="header_pg" id="page_active4">獲得靈感</a></li>
    <li><a href="aboutus.html" class="header_pg" id="page_active5">品牌故事</a></li>
    <li><a href="faq.html" class="header_pg" id="page_active6">常見問題</a></li>
  </ul>
  <div class="nav_search_container">
    <input type="text" class="nav_search_input" />
    <a href="#"><i class="fas fa-search"></i></a>
    <a href="member_signIn.html"><i class="fas fa-user-circle"></i></a>
    <a href="cart.html"><i class="fas fa-shopping-cart"></i></a>

    <!-- RWD Search樣式 待修改-->
    <!-- <div class="search_sildein">
      <div class="search_slidein_header">
        <span class="close-search">
          <i class="fa fa-angle-left fa-2x"></i>
        </span>
        <p>搜尋</p>
      </div>
      <div class="search_slidein_exp">
        <div class="relative">
          <div class="input_group">
            <input
              id="search_experience_value"
              placeholder="輸入地點、行程或活動名稱..."
              type="text"
              aria-autocomplete="both"
              aria-haspopup="false"
              autocapitalize="off"
              autocomplete="off"
              autocorrect="off"
              spellcheck="false"
              maxlength="50"
              class="form-control"
            />
            <a href="#" class="rwd_search-icon"
              ><i class="fas fa-search"></i
            ></a>
          </div>
        </div>
      </div>
    </div> -->

    <!-- RWD漢堡 -->
    <div class="menuToggle">
      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul class="menu">
        <a href="news.html"><li class="ham_pg" id="h_page_active1">NEWS</li></a>
        最新消息
        <a href="summer_camp.html"><li class="ham_pg" id="h_page_active2">WINTER/SUMMER CAMP</li></a>
        冬夏令營
        <a href="local_theme.html"><li class="ham_pg" id="h_page_active3">FEATURE CAMP</li></a>
        當地主題
        <a href="ideas.html"><li class="ham_pg" id="h_page_active4">BRILLIANT IDEA</li></a>
        獲得靈感
        <a href="aboutus.html"><li class="ham_pg" id="h_page_active5">ABOUT US</li></a>
        品牌故事
        <a href="faq.html"><li class="ham_pg" id="h_page_active6">Q&A</li></a>
        常見問題
        <a href="member.html"><li class="ham_pg" id="h_page_active7">MEMBER</li></a>
        會員專區
      </ul>
    </div>
  </div>
</nav>
